{
  "rules": {
	"at-rule-empty-line-before": null,
	"at-rule-no-unknown": [
	  true,
	  {
		"ignoreAtRules": [
		  "function",
		  "if",
		  "each",
		  "include",
		  "define-mixin",
		  "mixin",
		  "else",
		  "for",
		  "use",
            "extend"
		]
	  }
	],
	"comment-empty-line-before": null,
	"rule-empty-line-before": null,
	"no-descending-specificity": null
  }
}
