// Colours
$colour-white: #fff;
$colour-black: #080808;
$colour-grey: #f4f5f6;
$colour-red: #a53746;
$color-green: #6eeb83;
$colour-alt-gray: #d1d1d1;
$colour-dark-gray: #525252;
$colour-another-gray: #aeabae;
$colors: (
	'white': $colour-white,
	'black': $colour-black,
	'gray': $colour-grey,
	'red': $colour-red,
	'alt-gray': $colour-alt-gray,
);
