.key-information-with-icon-card {
	text-align: center;
	padding: 0 calc(#{$global-spacing} * 2);
	margin-bottom: calc(#{$global-spacing} * 2);
	@include media-breakpoint-up(md) {
		text-align: left;
	}
	&__image {
		width: 100px;
		height: 100px;
	}
	&__content {
		margin-bottom: 0;
		color: $colour-dark-gray;
	}
	&__read-more {
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		margin-top: $global-spacing;
		&__text {
			margin: 0 $global-spacing 0 0;
		}
		&:hover {
			color: $colour-red;
			cursor: pointer;
			svg {
				fill: $colour-red;
			}
		}
		&--active {
			color: $colour-red;
			svg {
				fill: $colour-red;
				transform: rotate(180deg);
			}
		}
	}
	&--disabled {
		pointer-events: none;
		opacity: 0.6;
	}
}
