.wpcf7-response-output {
	border: 2px solid $colour-dark-gray !important;
	background: $colour-white !important;
	padding: $global-spacing calc(#{$global-spacing} * 2) !important;
	margin-top: calc(#{$global-spacing} * 3) !important;
	text-align: center;
}
