@mixin link-reset {
	a {
		color: inherit;
		text-decoration: none;
	}
}

@mixin line-effect {
	position: relative;
	&:after {
		content: '';
		height: 0.1rem;
		width: 100%;
		position: absolute;
		top: 100%;
		left: 0;
		right: 0;
		margin: 0 auto;
		background: white;
		opacity: 0;
		transform: translateY(0.5rem);
		@include transition(0.25s $ease-default);
	}
	&:hover {
		cursor: pointer;
		&:after {
			transform: translateY(0);
			opacity: 1;
		}
	}
}
